:root {
  --h-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --frame-color: #ffffff;
  --card-set-gap: 30px;
}

body {
  background-color: var(--frame-color);
  color: var(--h-color);
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.container {
  width: 1190px;
  margin-right: auto;
  margin-left: auto;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}
.button {
  cursor: pointer;
  text-decoration: none;
}
.button:hover,
.button:focus {
  color: var(--frame-color);
  background-color: var(--hover-color);
}
.link,
.link-addres {
  text-decoration: none;
  color: var(--h-color);
}
.link:hover,
.link:focus,
.link-addres:focus,
.link-addres:hover {
  color: var(--hover-color);
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  display: inline-flex;
}
.web {
  color: var(--hover-color);
}
.nav {
  font-weight: 500;
  line-height: 1.14;
}

.link-addres {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
}


.footer {
  color: var(--frame-color);
  background-color: #2f303a;
  line-height: 1.17;
}
.footer > .nav-logo {
  color: var(--frame-color);
}

.main-section {
  background-color: #2f303a;
  text-align: center;
}
.main-section h1 {
  color: var(--frame-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-top: 0;
  margin-bottom: 30px;
}
.main-section > .button {
  color: var(--frame-color);
  background: var(--hover-color);
  line-height: 1.8;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.main-title {
  font-weight: 700;
  font-sizes: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 59px;
}
.advantages {
  display: flex;
  margin-right:30px;
}
.advantages-title {
  margin-bottom: 20px;
  margin-top: 0;
}
}
.names {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam {
  color: var(--text-color);
  line-height: 1.8;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}
.ourteams {
  background-color: #f5f4fa;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
}
.ourteams > .list {
  background-color: var(--frame-color);
}
.titles {
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}
.text {
  line-height: 1.7;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.products-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-top:20px;
  margin-left: 24px;
}
.products-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 24px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: -30px;
 margin-top: -30px;
}

.products-item {
  margin-left: var(--card-set-gap);
margin-top: var(--card-set-gap);
}
.nav-cont{
  display:flex;
  margin-left: auto;
}

.nav-li:not(:last-child){
  margin-right:50px;
}

.nav .link,
.nav-cont .link-addres{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.ourteams-list {
  
}
.ourteams-ul {
  display: inline-block;
  display: flex;
}