:root {
  --h-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --frame-color: #ffffff;
  --card-set-gap: 30px;
}

body {
  background-color: var(--frame-color);
  color: var(--h-color);
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.button {
  cursor: pointer;
  text-decoration: none;
}
.button:hover,
.button:focus {
  color: var(--frame-color);
  background-color: var(--hover-color);
}
.link,
.link-addres {
  text-decoration: none;
  color: var(--h-color);
}
.link:hover,
.link:focus,
.link-addres:focus,
.link-addres:hover {
  color: var(--hover-color);
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.web {
  color: var(--hover-color);
}
.nav {
  font-weight: 500;
  line-height: 1.14;
}

.link-addres {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
}

.footer {
  color: var(--frame-color);
  background-color: #2f303a;
  line-height: 1.17;
}
.logo-footer {
  color: var(--frame-color);
}

.main-section {
  background-color: #2f303a;
  text-align: center;
}
.main-section h1 {
  color: var(--frame-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-top: 0;
  margin-bottom: 30px;
}
.main-section > .button {
  color: var(--frame-color);
  background: var(--hover-color);
  line-height: 1.8;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.main-title {
  font-weight: 700;
  font-sizes: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}
.advantages {
  display: flex;
}
.advantages-title {
  margin-bottom: 10px;
  margin-top: 0;
}
.adv-li,
.pict-li,
.ourteams-ul {
  margin-right: 30px;
}
.adv-li:last-child,
.pict-li:last-child,
.ourteams-ul:last-child {
  margin-right: 0;
}
.pict-list {
  display: flex;
}

.names {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam {
  color: var(--text-color);
  line-height: 1.8;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}
.ourteams {
  background-color: #f5f4fa;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
}
.ourteams > .list {
  background-color: var(--frame-color);
}
.titles {
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}
.text {
  line-height: 1.7;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.products-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 24px;
}
.products-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 24px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.products-item {
  width: 380px;
  margin-right: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.products-item:nth-child(3n) {
  margin-right: 0;
}
.nav-cont {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-li:not(:last-child) {
  margin-right: 50px;
}

.nav .link,
.nav-cont .link-addres {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.ourteams-list {
  display: inline-block;
  display: flex;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .items {
  align-items: center;
  margin-right: 9px;
}
.btn-list .items:not(:last-child) {
  margin-right: 0px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.container .our-address {
  margin-bottom: 9px;
}
